body
{
    display: flex;
    justify-content: center;
}
div
{
    display: flex;
    text-align: center;
    justify-content: center;
}
select
{
    margin: 5px;
    text-align: center;
}
#psswrd_block
{
    margin: 5px;
    text-align: center;
}
#container
{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 200px;
}
p
{
    margin: 4px;
    padding: 6px;
}