body
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#tablero
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 160px;
}
div
{
    border: solid 2px black;
}